body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F5F1E9;
}
*{
    padding: 0;
    margin: 0;
}
i{
    color: #A67B5B;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    background-color: #3E3E3E;
    box-shadow: #EAE3D2 5px 5px 3px;
    border-bottom: 3px solid #EAE3D2;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo img{
    margin-top: 5px;
    width: 100px;
    height: 90px;
    border-radius: 90%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}
li a{
    text-decoration: none;
    color: #F5F1E9;
}
li a:hover{
    color: #A67B5B;
}
/*partie hero*/
.page_hero{
    color: #1F1F1F;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     border-bottom: 1px solid #C4B49A;
     padding: 48px;
}

.page_hero::before {
  content: 'A PROPOS';
  font-size: 10rem;
  color: #1F1F1F;
  opacity: 0.05;
}
.page_hero p{
    padding: 10px;
    margin: 20px;
   color: #A67B5B;
   
}
.page_hero p.de_nous{
    font-size: 20px;
}
.page_hero h1 {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*section principale*/
.section_1{
    color: #3E3E3E;
     display: grid; 
     grid-template-columns: 1fr 1.1fr;
    gap: 80px; 
    align-items: center;
     margin: 0 auto;
    padding: 80px 48px;
}
.texte{
    flex-wrap: wrap;
    color: #8A7560;
    font-size: 20px;
}
.passion_texte {
     color: #A67B5B;
     margin: 20px 0px 20px 0px;
}
.texte h2 {
    font-size: 40px;
     margin: 20px 0px 20px 0px;
     color: #1F1F1F;
}
.texte p strong {
    color: #1F1F1F;
}
.statistique {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -15px;
}
.texte_2{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #C4B49A;
}
.stat_nombre{
     color: #A67B5B;
     font-size: 35px;
}
.stat_mot{
      color: rgb(34, 34, 34);
}
/*competences */
.comp{
    background-color: #EAE3D2;
     border-top: 1px solid #C4B49A;
    border-bottom: 1px solid #C4B49A;
    padding: 70px 48px;
    color: #1F1F1F;
    display: grid;
}
.comp_1{
    text-align: center;
    margin-bottom: 28px;
}
.specialites{
     font-size: 20px;
     color: #A67B5B;
     margin: 0px 0px 20px 0px;
    
}
.comp h3 {
    font-size: 40px;
}
.les_cartes{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     line-height: 30px;
}
.carte_colomne{
    background: #F5F1E9;
  padding: 28px 24px;
  border: 1px solid #C4B49A;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.image_2{
    display: flex;
    justify-content: center;
     padding: 10px;
}


.carte_colomne:hover{
    border-color: #A67B5B;
}
 
.carte_colomne strong {
     font-size: 20px;
}
.carte_colomne p.descrip{
    color: black;
     font-size: 15px;
}
/*enfin derniere partie*/
.photographie{
    padding: 80px 48px;
    text-align: center;
    color: #1F1F1F;
  }
.citation{
    font-size: 40px;
    font-style: italic;
    flex-wrap: wrap;
  }
.citation span{
    color: #A67B5B;
}
.moi{
    font-size: 20px;
    margin-top: 20px;
      color: #8A7560;
}
/*enfin*/
 footer {
    background-color: #3E3E3E;
    border-top: 1px solid #C4B49A;
    padding: 28px 48px;
    display: flex; 
    align-items: center;
     justify-content: space-between;
  }
  footer p { 
    font-size: 1;
     color: #F5F1E9; 
}
  footer a { 
    color: #A67B5B; 
    text-decoration: none; 
    font-size: 1; 
}

